@page "/"
@inject DataService DataService
<PageTitle>Home</PageTitle>

@if(measurement != null){
    <div class="row g-3 mb-3">
        <div class="col-md-6 col-xxl-3">
            <MeasurementCard Caption="Battery State" Value="@measurement.BatteryStateDescription" />
        </div>
        <div class="col-md-6 col-xxl-3">
            <MeasurementCard Caption="Panel Voltage" Value="@measurement.DispavgVpv.ToString()" Units="V" />
        </div>
        <div class="col-md-6 col-xxl-3">
            <MeasurementCard Caption="Battery Voltage" Value="@measurement.DispavgVbatt.ToString()" Units="V"/>
        </div>
        <div class="col-md-6 col-xxl-3">
            <MeasurementCard Caption="Amp Hours" Value="@measurement.AmpHours.ToString()" Units="Ah"/>
        </div>
    </div>
    <div class="row g-3 mb-3">
        <div class="col-md-6 col-xxl-3">
            <MeasurementCard Caption="Outside Temp" Value="@measurement.Ext_F.ToString()" Units="&deg;" />
        </div>
        <div class="col-md-6 col-xxl-3">
            <MeasurementCard Caption="Inside Temp" Value="@measurement.Int_F.ToString()" Units="&deg;" />
        </div>
        <div class="col-md-6 col-xxl-3">
            <MeasurementCard Caption="Inside Humidity" Value="@measurement.Humidity.ToString()" Units="%" />
        </div>
        <div class="col-md-6 col-xxl-3">
            <MeasurementCard Caption="Pressure" Value="@measurement.inHg.ToString()" Units="inHg" />
        </div>
    </div>
    <div class="row g-3 mb-3">
        <div class="col-md-6 col-xxl-3">
            <MeasurementCard Caption="Wind Speed" Value="@measurement.WindAverage.ToString()" Units="mph" />
        </div>
        <div class="col-md-6 col-xxl-3">
            <MeasurementCard Caption="Wind Direction" Value="@measurement.WindDirection.ToString()" Units="&deg;" />
        </div>
        <div class="col-md-6 col-xxl-3">
            <MeasurementCard Caption="Wind Gusts" Value="@measurement.WindGust.ToString()" Units="mph" />
        </div>
        <div class="col-md-6 col-xxl-3">
            <MeasurementCard Caption="Outside Humidity" Value="@measurement.ExternalHumidity.ToString()" Units="%" />
        </div>
    </div>
    <div class="row g-3 mb-3">
        <div class="col-md-6 col-xxl-3">
            <MeasurementCard Caption="Rain" Value="@measurement.RainRate.ToString()" Units="in" />
        </div>
        <div class="col-md-6 col-xxl-3">
            <MeasurementCard Caption="Daily Accumulation" Value="@measurement.DailyAccumulation.ToString()" Units="in" />
        </div>
        <div class="col-md-6 col-xxl-3">
            <MeasurementCard Caption="Lightning Strikes" Value="@measurement.StrikeCount.ToString()" Units="" />
        </div>
        <div class="col-md-6 col-xxl-3">
            <MeasurementCard Caption="Avg Strike Distance" Value="@measurement.AverageStrikeDistance.ToString()" Units="miles" />
        </div>
    </div>
    <div class="row g-3 mb-3">
        <div class="col-md-6 col-xxl-3">
            <MeasurementCard Caption="Inverter On" Value="@measurement.InverterOn.ToString()" Units="" />
        </div>
        <div class="col-md-6 col-xxl-3">
            <MeasurementCard Caption="Inverter Volts" Value="@measurement.InverterVACOut.ToString()" Units="V" />
        </div>
        <div class="col-md-6 col-xxl-3">
            <MeasurementCard Caption="Inverter Amps" Value="@measurement.InverterAACOut.ToString()" Units="A" />
        </div>
        <div class="col-md-6 col-xxl-3">
            <MeasurementCard Caption="Inverter Fault" Value="@measurement.InverterFault.ToString()" Units="" />
        </div>
    </div>

    <div class="row g-3 mb-3">
        <div class="col-md-6 col-xxl-6">
            <LatestPictureCard />
        </div>
    </div>
}
@code {
    private Measurement measurement;

    protected override async Task OnInitializedAsync()
    {
        measurement = await DataService.GetMostRecentMeasurement();

    }
}